<section class="cotacts-container">
    <!-- <h2>Contacts List</h2> -->
      <section class="contact-actions">
        <form>
          <input name="txt" autocomplete="off" placeholder="Search Contacts" [(ngModel)]="filterBy.txt" />
        </form>
        <!-- <button [routerLink]="['/edit']">+</button> -->
        <img src="../../../assets/img/plus.png" alt="add" [routerLink]="['/edit']" title="Add Contact" class="add png">
      </section>
      <ul>
        <li *ngFor="let contact of filteredContatcts; let idx=index">
          <img src="https://robohash.org/{{contact.name}}" alt={{contact.name}} class="contact-img"/>  
          
          <h2 [routerLink]="['/contact',contact._id]"> {{contact.name}} </h2>
          <!-- <a [routerLink]="['/contact',contact._id]">
           
          </a> -->
          
          
          <img src="../../../assets/img/delete.png" alt="delete" (click)="removeContact(contact._id)" title="Delete" class="delete png">
          <!-- <button (click)="removeContact(contact._id)">x</button> -->
        </li>
      </ul>

      
</section>

<!-- width="100" height="100" -->

