
.cotacts-container {

    margin: 5% 12%;

    
    li {
        list-style-type: none;
        margin: 5px 0 5px -5%;
        border-radius: 3rem;
        border: 2px solid darkgray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        .contact-img {
            width: 100px;
            height: 100px;
            padding: 0 0 0.8rem 0.8rem;
        }

        .delete {
            width: 2rem;
        }

    }
    
    .contact-actions {
        display: flex;
        justify-content: space-between;
            
        input {
                padding: 10px;
                border-radius: 8px;
                flex-grow: 5;
                width: 50vw;
            }

           
    }
}


@media only screen and (max-width: 600px) {
    .cotacts-container {
       margin: 2% 2% 0 0;

       .contact-actions {
        justify-content: space-around;
        }
    }
}