<section class="details-main" *ngIf="contact">
  <section class="contact-actions">
    <img src="../../../assets/img/edit.png" alt="edit" [routerLink]="['/edit',contact._id]" title="Edit Contact"
      class="edit png">
  </section>
  <section class="contact-details">
    <img src="https://robohash.org/{{contact.name}}" alt={{contact.name}} width="100" height="100" />
    <h2>{{contact.name}}</h2>
    <h4>Phone: {{contact.phone}}</h4>
    <h4>Email: {{contact.email}}</h4>
    <!-- <button [routerLink]="['/edit',contact._id]">Edit</button> -->
    <hr>
  </section>

  <section class="transfers">

    <transfer-fund *ngIf="enableTransfer" [contact]="contact" (onToggleTransfer)="onToggleTransfer()"></transfer-fund>
    <!-- <button (click)="onToggleTransfer()" *ngIf="!enableTransfer">+</button> -->
    <h4 (click)="onToggleTransfer()" *ngIf="!enableTransfer">Transfer Funds </h4>
    
    
  </section>
  <hr>

  <moves-list [contact]="contact"></moves-list>
  <hr>

</section>
  