.app {
    width: 80vw;
    min-height: 100vh;
    max-height: 100%;
    margin: 0 auto;
    background-color: lightblue;
 
    .footer {
        background-color: lightcoral;
        position: fixed;
        // position: sticky;
        bottom: 2%;
        margin: 0 10vw;
        width: 60vw;
        text-align: center;
    }


}

@media only screen and (max-width: 600px) {
    .app {
        width: 100vw
    }
}