<nav class="navbar">
    <a routerLink='/home'>
        <img src="../../../assets/img/home2.png" alt="home" title="Home" class="home png">
    
    </a>
    <a routerLink='/contact'>
        <img src="../../../assets/img/users.png" alt="users" title="Contacts" class="users png">
    </a>
    <a routerLink='/charts'>
        <img src="../../../assets/img/increase.png" alt="charts" title="Charts" class="charts png">
    </a>
    
    <a routerLink='/login'>
        <img src="../../../assets/img/contact.png" alt="login" title="Login" class="login png">
    </a>

    
</nav>

