.transfer-action {
    position: relative;
    width: 80vw;
    padding: 0 12%;
    .cancel{
        width: 30px;
        position: relative;
        left: 0.5rem
    }
    input {
        //margin: auto;
        padding: 2px;
        margin: 5px;
        position: relative;
        left: 25%;
    }

    .transaction-btn {
        cursor: pointer;
        margin: 5px;
        position: relative;
        left: 32%;
        border-radius: 50%;
        img {
            width: 30px;
            margin-top: 2px;
            
        }
    }
}