<div class="transfer-action">
    <!-- <button (click)="onToggleTransfer.emit()">X</button> -->
    <img src="../../../assets/img/cancel.png" alt="cancel" title="Exit" class="cancel png" (click)="onToggleTransfer.emit()">
    <div [hidden]="submitted">
        <!-- <h2>Transfer funds to {{contact.name}}</h2> -->
        
        <form (ngSubmit)="onSubmit(transactionForm)" #transactionForm="ngForm">

            <div class="form-group">
                <!-- <label for="name">Name</label> -->
                <input type="number" class="form-control" required  ngModel id="amount" name="amount" #amount="ngModel" placeholder="Enter Amount">
                    <!-- #amount="ngModel" -->
                <div [hidden]="amount" class="alert alert-danger">
                    Amount is required
                </div>
            </div>


            <button type="submit" class="btn btn-default" [disabled]="!transactionForm.valid" class="transaction-btn">
                <img src="../../../assets/img/bitcoin.svg" alt="transfer"  title="Make transaction" class="transaction png">
            </button>
            
        </form>
    </div>
</div>





        
        <!-- <input type="number" id="transfer-amount"> -->
        <!-- <button>Transfer</button> -->