.contact-edit {
    
    margin: 0 12%;
    
    img {
        margin-bottom: 3%;
    }

    label {
        margin: 2%;
    }

    input{
        margin: 2%;
        padding: 1%;
        width: 200px;
    }

    button {
        border-radius: 24px;
        padding: 3px 9px;
        margin: 3% 0 0 20%;
        border-color: #F08F1A;
        color: #F08F1A;
    }
}