<section class="app-charts">
    <!-- <h2>{{tradeVolData.title}}</h2> -->
    <google-chart class="chart" [title]="tradeVolData.title" [type]="tradeVolData.type" [data]="tradeVolData.data" [options]="tradeVolData.options">
    </google-chart>
    <br>
    <google-chart class="chart" [title]="marketPriceData.title" [type]="marketPriceData.type" [data]="marketPriceData.data" [options]="marketPriceData.options">
    </google-chart>

</section>


<!-- [columns]="tradeVolData.columnNames" -->
<!-- [options]="tradeVolData.options" -->