<!-- <section class="home-main"> -->
<section class="home-main" *ngIf="loggedIn">

    <h1>Hello {{user.name}}</h1>
    <div class="coins">
        <img src="../../../assets/img/coins.png" alt="coins" class="coins png">
        <h2>Coins: {{user.coins}}</h2>

    </div>
    <div class="rate">
        <img src="../../../assets/img/bitcoin.png" alt="bitcoin" class="bitcoin png">
        <h2>BTC: {{rate.toFixed(3)}}</h2>
    </div>
    <section class="transactions-list">
        <h3>Your last three transactions:</h3>
        <hr>
        <section *ngFor="let transaction of transactions; let idx=index">
            <h4>To: {{transaction.to}}</h4>
            <h5>At: {{transaction.at | date: 'dd/MM/yy hh:mm:ss a'}}</h5>
            <h5>Amount: {{transaction.amount}} Coins</h5>
            <hr>
          
        </section>
    </section>

</section>

<!-- new Date({{transaction.at}}).toString().substring(16,24) -->